@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

/* hide sidebar nav scrollbar cross-browser */
.sidebar-nav {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@layer base {
  :root {
    --background: 45 17% 95%;
    --foreground: 228 23% 23%;

    --card: 0 0% 100%;
    --card-foreground: 228 23% 23%;

    --muted: 210 14% 90%;
    --muted-foreground: 214 10% 45%;

    --border: 214 14% 83%;
    --input: 214 14% 83%;

    --primary: 224 22% 31%;
    --primary-foreground: 45 17% 95%;

    --accent: 206 24% 72%;
    --accent-foreground: 228 23% 23%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --ring: 224 22% 31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 24% 11%;
    --foreground: 48 16% 92%;

    --card: 228 20% 16%;
    --card-foreground: 48 16% 92%;

    --muted: 226 15% 22%;
    --muted-foreground: 214 11% 61%;

    --border: 226 15% 27%;
    --input: 226 15% 27%;

    --primary: 206 24% 72%;
    --primary-foreground: 228 24% 11%;

    --accent: 48 16% 78%;
    --accent-foreground: 228 24% 11%;

    --destructive: 0 63% 55%;
    --destructive-foreground: 0 0% 100%;

    --ring: 206 24% 72%;
    --radius: 0.5rem;
  }
}