@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 8%;

    --card: 0 0% 98%;
    --card-foreground: 240 10% 8%;

    --muted: 240 5% 94%;
    --muted-foreground: 240 4% 46%;

    --border: 240 5% 88%;
    --input: 240 5% 88%;

    --primary: 258 76% 59%;
    --primary-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --ring: 258 76% 59%;
    --radius: 0.5rem;
  }

  .dark {

    --background: 240 6% 8%;
    --foreground: 240 5% 90%;

    --card: 240 6% 11%;
    --card-foreground: 240 5% 90%;

    --muted: 240 5% 16%;
    --muted-foreground: 240 4% 52%;

    --border: 240 5% 20%;
    --input: 240 5% 20%;

    --primary: 258 76% 66%;
    --primary-foreground: 0 0% 100%;

    --destructive: 0 63% 55%;
    --destructive-foreground: 0 0% 100%;

    --ring: 258 76% 66%;
    --radius: 0.5rem;
  }
}